

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
section{
    width: 85%;
    margin: auto;
}

nav{
    display: flex;
    align-items: center;
    background-color: beige;
    
   
}
.one{
    padding-top: 30px;
    padding-left: 84px;
}
ul{
    list-style-type:none;
    
    }

li{
   display: inline;
   padding-left: 12px;
   
  
}
ul li a{
    text-decoration: none;
    background-color:beige;
    color: black;
}
a:hover{
    background-color: black;
    color: aliceblue;
}
.firstsection{
    padding-top: 30px;
}
.secondsection{
    
    padding-top: 30px;
    width: 20%;
    height: 380px;
    border: black 8px solid;
    /*position: relative;*/
    margin-left: 30px;
    justify-content: center;
    text-align:center ;

}
.secondsection img{
    /*position: absolute;*/
    width: 100%;
    height:60%;
    padding-left: 30px;
    padding-right: 30px;
}
.RRP{
    color: gray;
    margin: auto;
  }
  .saving{
    color: green;
  }
.produits{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    height: 250px;
    flex-wrap: wrap;
    
}
@media (max-width: 575.98px) { 
    .produits{
        display: block;
        width: 100%;
    }
    .secondsection{
        width: 400px;
        margin-bottom: 30px;
    }
    nav{
        display: block;
        margin: 0 auto;
    }
    .logo{
        justify-content: center;
      }
 }
 
 @media (max-width: 991.98px)  { 

    .secondsection{
        width: 400px;
        margin-bottom: 30px;
        margin-left: 30px;
        
    }
    nav{
        display: block;
        margin: 0 auto;
    
  }
  .produits{
    justify-content: center;
  }
  .logo{
    justify-content: center;
  }
  }